* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

button {
    padding: 17px 24px 23px;
    border: none;
    background: #FF9C08;
    border-radius: 10px;
}

.btn-black {
    background: #090909;
    color: #fff;
    padding: 26px 39px 25px;
}

.btn-white {
    background: #fff;
    color: #090909;
    margin-left: 28px;
    padding: 26px 37px 25px;
}

.section-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FF9C08;
    overflow: hidden;
}

.section-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    color: #090909;
    margin: 20px 0 17px;
    letter-spacing: -2px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6E6E6E;
    width: 98%;
}

.lists {
    padding-left: 10px;
    position: relative;
    width: 595px;
    bottom: 152px;
    right: 0;
}

.lists .list {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #090909;
    display: flex;
    align-items: center;
    padding-top: 17px;
}

.lists .list::before {
    content: url('../img/check.png');
    width: 26px;
    margin-right: 15px;
}

/* header */
/* nav */
header nav,
header ul,
header .cart,
header li,
header ul a {
    display: flex;
    align-items: center;
}

header nav {
    padding: 30px 110px;
    justify-content: space-between;
    border-bottom: 1px solid #F0ECE8;
}

header li:not(header li:first-child, header li:nth-child(2)) {
    margin-left: 29px;
}

header li:nth-child(2) {
    margin-left: 40px;
}

header nav a {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #090909;
}

header .cart {
    margin-right: 1px;
}

header .cart-element {
    position: relative;
    position: relative;
    width: 40px;
    height: 49px;
}

header .cart-count {
    padding: 3px 6px 5px 7px;
    position: absolute;
    bottom: 0;
    background: #FF9C08;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

header .cart-ic img {
    position: absolute;
    left: 8px;
    top: 7px;

}

header .cart button {
    margin-left: 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #090909;
}

/* content */
header .content {
    padding-left: 110px;
    display: flex;
    justify-content: center;
}

header .text {
    padding: 208px 43px 264px 0;
    width: 49%;
}

header .content .border {
    width: 140px;
    height: 4px;
    background: #000;
    background: #FF9C08;
}

header .text h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #090909;
    margin-top: 25px;
    letter-spacing: -2.2px;
}

header .text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #6E6E6E;
    margin-top: 16px;
}

header .buttons {
    display: flex;
    margin-top: 43px;
}

header .buttons button {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #090909;
}

header .buttons button:first-child {
    padding: 25px 38px 28px;
}

header .buttons button:nth-child(2) {
    margin-left: 28px;
    padding: 25px 35px 28px 35px;
}

header .btn-white {
    background: #FFFFFF;
    border: 1px solid #F0ECE8;
    box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.04);
}

/* firm-results */
header .firm-results {
    background: #FEF9F2;
    padding: 134px 110px 73px;
    position: relative;
    bottom: 0;
    z-index: -1;
}

header .result-blocks {
    display: flex;
    justify-content: center;
    color: #FF9C08;
    font-size: 60px;
    font-weight: 700;
}

header .result {
    width: 284px;
    text-align: center;
}

header .result:not(header .result:first-child) {
    margin-left: 28px;
}

header .firm-results span {
    font-size: 56px;
    line-height: 80px;
    color: #090909;
}

header .firm-results p {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #6E6E6E;
    overflow: hidden;
}

.firm-results .border {
    margin: 73px auto 0;
    width: 100%;
    height: 1px;
    background: #DAD1CA;
}

/* about */
.about {
    background: #FEF9F2;
    padding: 45px 110px;
    overflow-y: hidden;
}

.about-blocks {
    display: grid;
    justify-content: center;
    grid-template-columns: 596px 596px;
    column-gap: 28px;
    row-gap: 53px;
    align-items: flex-start;
    position: relative;
    top: 84px;
}

.about-block.align-left {
    text-align: left;
}

.about-block.align-right {
    text-align: right;
}

.about-block.move-top {
    position: relative;
    top: -149px;
}

.about-block.move-top-2 {
    position: relative;
    top: -239px;
}

.about-block h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    color: #090909;
    margin: 20px 0 17px;
    letter-spacing: -2px;
}

.about-block p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6E6E6E;
    width: 98%;
}

.about-block .buttons {
    padding-top: 49px;
}

.about-block .buttons button {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #090909;
    margin-left: 22px;
    padding: 21px 38px 28px;
}

.about-block .buttons button.btn-white {
    background: #FFFFFF;
    border: 1px solid #F0ECE8;
    box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.04);
    border-radius: 10px;
    font-size: 17px;
    padding: 21px 39px 28px;
}

/* results */
.results {
    padding: 200px 110px;
    display: flex;
    justify-content: center;
}

.results .content {
    width: 637px;
    padding-top: 88px;
}

.results .results-blocks {
    display: grid;
    grid-template-columns: 221px 246px;
    column-gap: 97px;
    margin-top: 30px;
    row-gap: 29px;
}

.results .result-block {
    display: flex;
    align-items: center;
}

.results .result-block .text {
    margin-left: 25px;
}

.results .section-title {
    letter-spacing: -2px;
    width: 78%;
}

.results .result-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #090909;
    overflow: hidden;
    position: relative;
    top: -7px;
}

.results p {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #6E6E6E;
    overflow: hidden;
}

.results button {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #090909;
    margin-top: 72px;
    padding: 22px 38px 28px;
}

/* video */
.video {
    background: #FFD4A4;
    padding-top: 193px;
    position: relative;
    padding-bottom: 396.7px;
    overflow-y: hidden;
}

.video .section-name {
    letter-spacing: 1.2px;
    color: #090909;
    text-align: center;
}

.video .section-title {
    text-align: center;
    width: 53%;
    margin: 0 auto;
    margin-top: 20px;
}

.video .buttons {
    margin: 39px auto 63.7px;
    text-align: center;
}

.video button {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #090909;
}

.video .btn-black {
    color: #fff;
}

.video-border {
    background: #DAD1CA;
    width: 84.7%;
    height: 1px;
    position: relative;
    top: -197px;
    margin: 0 auto;
}

/* goals */
.goals {
    position: relative;
    top: -395px;
}

.goals .video-player {
    width: 100%;
    height: 688px;
    overflow-y: hidden;
    text-align: center;
}

.goals .text-content {
    display: flex;
    padding: 80px 110px 0;
}

.goals .text-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #090909;
    letter-spacing: -0.64px;
}

.goals p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6E6E6E;
    margin-top: 10px;
}

.goals .text-1 p {
    width: 89%;
}

.goals .text-2 .text-title {
    position: relative;
    left: 4px;
    letter-spacing: -0.79px;
}

.goals .text-2 p {
    position: relative;
    left: 5px;
}

/* help */
.help {
    padding: 0 110px;
}

.help-top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.help-top .section-title {
    margin-bottom: 0;
    width: 66%;
    letter-spacing: -1.5px;
}

.help-top button {
    padding: 23px 38px 29px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #090909;

}

.help-blocks {
    display: grid;
    grid-template-columns: 388px 388px 388px;
    column-gap: 27px;
    row-gap: 27px;
    text-align: center;
    margin-top: 61px;
    justify-content: center;
}

.help-block {
    background: #FFFFFF;
    border: 1px solid #F0ECE8;
    box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.06);
    border-radius: 12px;
    padding: 58px 36px 61px;
}

.help-block .block-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #090909;
    margin: 19px 0 11px;
    position: relative;
    left: 4px;
    letter-spacing: -0.8px;
}

.help-block .block-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #6E6E6E;
}

/* join */
.join {
    display: grid;
    grid-template-columns: 487px 454.5px;
    background: url('../img/join-bg.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    justify-content: center;
    background-position: center center;
    padding: 160px 170px;
    align-items: center;
    position: relative;
    top: 180px;
}

.join button {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #090909;
}

.join .title {
    flex: 1;
}

.join .section-title {
    letter-spacing: -1.1px;
    width: 69%;
}

.join .btn-black {
    color: #fff;
}

/* testimonials */
.testimonials {
    background: #FEF9F2;
    padding: 360px 110px 200px;
    display: grid;
    grid-template-columns: 624px 538px;
    justify-content: center;
}

.testimonials .opinion {
    width: 100%;
    position: relative;
    overflow-y: hidden;
    padding-bottom: 48px;
}

.testimonials .opinion-block {
    background: #FFFFFF;
    border: 1px solid #F0ECE8;
    box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.06);
    border-radius: 12px;
    padding: 67px 38px;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 61.9%;
    font-weight: 400;
    font-size: 18px;
}

.testimonials .comment {
    line-height: 30px;
    color: #6E6E6E;
    margin-top: -14px;
    position: relative;
    top: 14px;
}

.testimonials .opinion-name {
    font-weight: 700;
    line-height: 20px;
    overflow-y: hidden;
    margin-top: 32px;
    margin-bottom: 14px;
}

.testimonials .opinion-location {
    font-size: 17px;
    line-height: 20px;
    color: #989898;
    overflow-y: hidden;
}

.testimonials .text {
    width: 95%;
    /* padding-left: 84px; */
    padding-top: 102px;
}

.testimonials .section-name {
    margin-left: 10px;
    padding-left: 47px;
    letter-spacing: 1.7px;
}

.testimonials .section-title {
    margin-left: 10px;
    letter-spacing: -1.4px;
    padding-left: 47px;
    width: 77%;
}

.testimonials .lists {
    bottom: 102px;
    margin-left: 46px;
    margin-top: 25px;
    line-height: 30px;
    letter-spacing: 0.46px;
}

.testimonials .text:first-child {
    width: 84%;
}

.testimonials .list {
    overflow-y: hidden;
    position: inherit;
    padding-top: 11px;
    letter-spacing: 0.1px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #090909;
}

.testimonials button {
    position: relative;
    top: -53px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #090909;
    padding: 24px 38px 26px;
    margin-left: 56px;
}

/* news */
.news {
    text-align: center;
    padding: 200px 110px 0;
    color: #090909;
}

.news .section-title {
    margin: 20px 0 13px;
    position: relative;
    letter-spacing: -1.2px;
    top: -4px;
    left: 1px;
}

.news-blocks {
    display: grid;
    justify-content: center;
    grid-template-columns: 596px 596px;
    column-gap: 28px;
    margin-top: 45px;
}

.news .news-block {
    position: relative;
    overflow-y: hidden;
    padding-bottom: 233px;
}

.news .news-content {
    background: #FFFFFF;
    border: 1px solid #F0ECE8;
    box-shadow: 0px 2px 12px rgb(43 43 43 / 8%);
    border-radius: 12px;
    padding: 47px 49px 25px 49px;
    position: absolute;
    bottom: 19px;
    width: 92%;
}

.news-content .info {
    display: flex;
    align-items: center;
}

.news-content .category {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F0ECE8;
    border-radius: 6px;
    padding: 13px 23px 19px;
}

.news-content .data {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #6E6E6E;
    margin-left: 16px;
    position: relative;
    top: -4px;
    left: -4px;
}

.news-content .description {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 23px;
    letter-spacing: -0.2px;
    position: relative;
    left: 1px;
}

.news-content button {
    font-weight: 700;
    font-size: 18px;
    line-height: 0.5;
    background: none;
    text-align: left;
    width: 100%;
    padding-left: 0;
}

.news .buttons {
    margin-top: 47px;
    padding-bottom: 200px;
    margin-left: -3px;
}

.news .buttons button {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #090909;
}

.news .btn-white {
    border: 1px solid #F0ECE8;
    padding: 26px 35px 25px 35px;
    margin-left: 24px;
}

.news .btn-orange {
    padding: 26px 38px 25px 39px;
}

/* footer */
footer {
    padding: 163px 110px 0;
    background: #FEF9F2;
    padding-bottom: 28px;
}

footer .info-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #3F3F3F;
    margin-top: 21px;
}

.footer-blocks {
    display: grid;
    grid-template-columns: 336px 378px 388px;
    justify-content: center;
    column-gap: 59px;
}

.footer-blocks .menu-blocks {
    display: grid;
    grid-template-columns: 149px 204px;
    column-gap: 25px;
}

.menu-blocks .block-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #090909;
    overflow: hidden;
    margin-top: 10px;
    width: 4%;
    position: absolute;
}

.menu-blocks ul {
    padding-top: 55px;
}

.menu-blocks li {
    margin-top: 21.4px;
}

.menu-blocks a {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #3F3F3F;
}

.footer-blocks .form {
    padding: 75px 49px 55px 48px;
    background: url(../img/footer-form-bg.png);
    background-repeat: no-repeat;
    background-position: 0px 13px;
}

.footer-blocks .form-title {
    letter-spacing: -0.9px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #090909;
}

.footer-blocks .form button {
    width: 100%;
}

.footer-blocks .form .btn-black {
    margin-top: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.footer-blocks .form .btn-white {
    margin-left: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #090909;
    margin-top: 14px;
    padding: 24px 37px 29px;
}

.footer-bottom {
    display: flex;
    margin-top: 104px;
    padding-top: 39px;
    border-top: 1px solid #F0ECE8;
    justify-content: space-between;
}

.footer-bottom .copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6E6E6E;
}

.footer-bottom a {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #090909;
}

footer .links {
    display: inline-flex;
}

footer .link {
    background: #090909;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    margin-left: 12px;
}